{%- assign c = site.data.categories | where: "id", include.post.categories[0] | first -%}
<a class="card" href="{{ include.post.url | relative_url }}">
  {%- if include.folios -%}<span class="card__folios"><span>{{ include.post.categories[0] }}</span><span>{{ include.post.categories[1] }}</span></span>{%- endif -%}
  <span class="card__img"><img src="{{ include.post.image | default: c.small | default: '/assets/img/food.png' | relative_url }}" alt="" loading="lazy"></span>
  <span class="card__title">{{ include.post.title }}</span>
  <svg class="card__arrow" viewBox="0 0 28 28" aria-hidden="true"><path d="M1 1L27 27M27 5V27H5"/></svg>
</a>
