<meta charset="utf-8">
<script>document.documentElement.classList.add('js')</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
{% if site.naver_site_verification != "" %}<meta name="naver-site-verification" content="{{ site.naver_site_verification }}">{% endif %}
{% feed_meta %}
<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+KR:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v={{ site.time | date: '%s' }}">
